<div class="login-container">
    <h2>Login</h2>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div>
            <label for="email">Email</label>
            <input type="text" placeholder="Email" formControlName="email">
        </div>
        <div>
            <label for="password">Password</label>
            <input type="password" placeholder="Password" formControlName="password">
        </div>
        <button type="submit">Login</button>
    </form>
    <div>
        <button class="signup-container" (click)="navigateToSignUp()">New here? Sign Up</button>
    </div>
</div>