<div class="login-container">
    <h2>Signup</h2>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div>
            <label for="username">Username</label>
            <input type="text" placeholder="username" formControlName="username" />
        </div>
        <div>
            <label for="email">Email</label>
            <input type="text" placeholder="Email" formControlName="email">
        </div>
        <div>
            <label for="password">Password</label>
            <input type="password" placeholder="password" formControlName="password" required>
        </div>
        <button type="submit" routerLink="/loginPage">Signup</button>
    </form>
</div>