<header class="header">
    <div class="container">
        <a>
            <button class="custom-button" routerLink="/">
                <div>
                    <i class="fa fa-house"></i>
                </div>
            </button>
        </a>
        <nav class="nav">
            <a class="nav-link" routerLink="/bookList">Book for free</a>
            <a class="nav-link" routerLink="/addBook">Add a Book</a>
        </nav>
        <div class="search-container">
            <div>
                <button class="icon-button">
                    <a routerLink="/donate">
                        <i class="fas fa-hand-holding-usd"></i>
                        <span class="tooltip-text">Donate</span>
                    </a>
                </button>
                <button class="icon-button">
                    <a class="login" routerLink="/loginPage">
                        <i class="fas fa-user"></i>
                        <span class="tooltip-text">Login</span>
                    </a>
                </button>
            </div>
        </div>
    </div>
</header>