.header {
  background: linear-gradient(35deg, #dfe5ee 20%, #4a88b1);
  padding: 20px 0;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    padding-top: 10px;
  }

  .custom-button {
    background-color: transparent;
    border: none;
    cursor: pointer;

    i {
      font-size: 30px;
      color: #333;
    }

    &:hover i {
      color: #4a88b1;
    }
  }

  .nav {
    align-items: right;

    .nav-link {
      margin-right: 20px;
      margin-left: 20px;
      text-decoration: none;
      color: #333;
      font-size: 25px;

      &:hover {
        color: #135c69;
      }
    }
  }

  .icon-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-left: 20px;
    position: relative;

    i {
      font-size: 30px;
      color: #333;
    }

    &:hover i {
      color: #dde3e9;
    }

    .tooltip-text {
      visibility: hidden;
      color: #0a0a0a;
      text-align: bottom;
      border-radius: 6px;
      padding: 3px;
      position: absolute;
      bottom: 90%;
      left: 50%;
      margin-left: -30px;
      transition: opacity 0.3s;
      z-index: 0.5;
    }

    &:hover .tooltip-text {
      visibility: visible;
      opacity: 1;
    }
  }
}
