body{
    background-color: beige;
}

.quote {
    text-align: center;
    font-size: 24px; 

    margin-top: 10%;/* Adjust font size as needed */
    /* Add any other styles you want for the quote */
}